@layout('layouts/main')
@set('title', 'Home page')


@section('content')
@!component('components/questions/questionsLine',{
    title:"ive a question about lorem blank",
    votes:3,
    answers:5,
    views:30,
})
@!component('components/questions/questionsLine')
@!component('components/questions/questionsLine')
@!component('components/questions/questionsLine')
@end

@section('leftSide')
  
<div id="left" class="max-lg:hidden lg:col-span-2 ">
    xxx
</div>
@end