<a href="{{url ?? `/${text}`}}"`>
    <li class="{{(request.url() === (url ??`/${text}`)) && `bg-gray-700 border-r-4 border-blue-600 mx-[0.5]`}}  px-5  font-bold text-xs py-1.5     ">{{text}} </li>
</a>