


<ul class=" capitalize">

   
   @!component('components/nav/line',{text:"Home",})
   <li class="uppercase font-thin">public:</li>
   @!component('components/nav/line',{text:"Tags"})
   @!component('components/nav/line',{text:"Users"})
   @!component('components/nav/line',{text:"companies"})
</ul>