


<ul class=" capitalize ">

   
   @!component('components/nav/line',{text:"home",url:"/"})
   <li class="uppercase font-thin px-3 text-xs">public:</li>
   @!component('components/nav/line',{text:"questions"})
   @!component('components/nav/line',{text:"tags"})
   @!component('components/nav/line',{text:"users"})
   @!component('components/nav/line',{text:"companies"})
</ul>